<h3>Nova Postagem: </h3>
<div class='card'>
  <div class='card-body'>
    <form action='/admin/postagens/nova' class="blogapp-form" method='post'>
      <div>
        <label for='titulo'>Título:</label>
        <input type='text' name='titulo' id='titulo' class="form-control" placeholder='Título da Postagem' />
      </div>
      <div>
        <label for="slug">Slug:</label>
        <input type="text" name="slug" id="slug" class="form-control" placeholder="Slug da Postagem">
      </div>
      <div>
        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Descrição da Postagem">
      </div>
      <div>
        <label for="conteudo">Conteúdo:</label>
        <textarea name="conteudo" id="conteudo" placeholder="Digite aqui o conteúdo" class="form-control"></textarea>
      </div>
      <label for="categoria">Categoria: </label>
      <select class="blogapp-select form-select" name="categoria" id="categoria">
          <option value="00">Escolha uma Categoria</option>
        {{#each categorias}}
          <option value="{{_id}}">{{nome}}</option>
        {{else}}
          <option value="0">Nenhuma categoria registrada</option>
        {{/each}}
      </select>
      <button class="btn btn-success blogapp-btn" type="submit">Criar Postagem</button>
    </form>
  </div>
</div>
{{#each erros}}
  <p class='alert alert-danger mt-4'>{{text}}</p>
{{else}}

{{/each}}